<!DOCTYPE HTML>
<html lang="en">

    <head>
        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
        <title>andrewoneill.io</title>
    </head>
    
    <body>
        <header>
            <nav>
                <div class = "row">
                    <ul class="main-nav">
                        <li><a href="#">Playground</a></li>
                        <li><a href="#">Mini-Projects</a></li>
                    </ul>
                </div>
            </nav>
            <div class = "row">
                <div class="banner-text-box">
                    <h1>My Website.<br>My CV.<br>My Playground.</h1>
                    <a class="btn btn-ghost" href="#work-experience"><i class="ion-ios-arrow-down icon-small"></i>Work Experience</a>
                    <a class="btn btn-ghost-change" href="#"></a>
                </div>
            </div>
        </header>
        
        <section class="work-experience">
            <div class="row">
                <h2>Work Experience</h2>
            </div>
            
            <div class="row">
                <div class="col span-1-of-2">
                    <div class="work-box">
                        <div class="company-img">
                            <img src="resources/img/workday.jpg">
                        </div>
                        <div class="job-text">
                            <h3>Workday</h3>
                            <p class="job-title">Software App Engineer <span>I &amp; II</span></p>
                        </div>
                        <ul>
                            <li><i class="ion-code icon-small"></i>Developing with XpressO (XO)</li>
                            <li><i class="ion-load-c icon-small"></i>Automated Testing (WATS) </li>
                            <li><i class="ion-refresh icon-small"></i>Agile Lifecycle</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col span-1-of-2">
                    <div class="work-box">
                        <div class="company-img">
                            <img src="resources/img/datalex.png">
                        </div>
                        <div class="job-text">
                            <h3>Datalex</h3>
                            <p class="job-title">Software Testing Intern</p>
                        </div>
                        <ul>
                            <li><i class="ion-ios-paper icon-small"></i>Creating Test Cases</li>
                            <li><i class="ion-briefcase icon-small"></i>Liazing with QA Manager</li>
                            <li><i class="ion-waterdrop icon-small"></i>Waterfall Lifecycle</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="skills">
            <div class="row">
                <h2>Skills</h2>
            </div>
            <ul class="skills-showcase clearfix">
                <li>
                    <figure class="skill-photo">
                        <img src="resources/img/HTML5.png" alt="HTML" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank">
                    </figure>
                </li>
                <li>
                    <figure class="skill-photo">
                        <img src="resources/img/CSS3.jpg" alt="CSS" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank">
                    </figure>
                </li>
                <li>
                    <figure class="skill-photo">
                        <img src="resources/img/js.png" alt="JS" href="https://www.javascript.com/" target="_blank">
                    </figure>
                </li>
                <li>
                    <figure class="skill-photo">
                        <img src="resources/img/node.jpg" alt="NodeJS" href="https://nodejs.org/en/" target="_blank">
                    </figure>
                </li>
            </ul>
        </section>
        
        <footer>
            <div class="row">
                    <ul class="footer-nav-left">
                        <li><a href="https://github.com/andy93" target="_blank"><i class="ion-social-github icon-small"></i></a></li>
                        <li><a href="https://ie.linkedin.com/in/andrewoneill93" v><i class="ion-social-linkedin icon-small"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ion-social-twitter icon-small"></i></a></li>
                        <li><a href="#" target="_blank"><i class="ion-social-facebook icon-small"></i></a></li>
                    </ul>
            </div>
        </footer>
        
    </body>

</html>